﻿@using CarInsurance.Models.VIewModels
@model List<InsureeQuoteVm>


<div class="card">
    <header class="card-header text-center">
        <h2>Admin page</h2>
        <h3>List of quotes:</h3>
    </header>
    <div class="card-body">
        @foreach (var insuree in Model)
        {
            <div class="row mb-4 mb-sm-5">
                <div class="col-12 col-sm-5">@insuree.FirstName @insuree.LastName</div>
                <div class="col-8 col-sm-5">@insuree.EmailAddress</div>
                <div class="col-4 col-sm-2 text-right">@insuree.Quote</div>
                <br />
            </div>
        }

    </div>
</div>

